.addNewProduct {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.meal {
  width: 60vw;
  margin: 10vh 20vw 5vh;
  text-align: center;
}

.numberOfMeal {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.editWeight {
  color: white !important;
}
