.addNewProduct {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.meal {
  width: 90vw;
  margin: 7vh 1vw 5vh;
  text-align: center;
}

.numberOfMeal {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
