@import "../../styles/abstracts/mixins";

.todayTraining {
  position: relative;
  &__chooseDropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__trainingTable {
    @include centerElement;
    width: 70vw;
    padding-top: 8vh;
    text-align: center;
    &__header {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
  &__saveBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.inputWrapContainer {
  @include centerElement;
  width: 10vw;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1vh;
  input {
    width: 70%;
    background-color: #fff;
    border: none;
  }
}

.inputWrapContainerMobile {
  @include centerElement;
  width: 10vw;
  display: grid;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1vh;
  input {
    width: 100%;
    background-color: #eee;
    padding: 0.5rem;
    border: none;
  }
}

.inputWrap {
  &__weightLabel {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .todayTraining {
    &__trainingTable {
      width: 90vw;
    }
  }
  .inputWrapContainer {
    display: none;
  }
  .inputWrapContainerMobile {
    display: grid;
  }
}

@media (max-width: 414px) {
  .todayTraining {
    &__chooseDropdown {
      & button {
        font-size: 0.9rem !important;
      }
    }
    &__trainingTable {
      left: 48%;
      padding-top: 15vh;
    }
  }
}

@media (max-width: 375px) {
  .todayTraining {
    &__chooseDropdown {
      & button {
        font-size: 0.75rem !important;
        padding: 1rem !important;
      }
    }
    &__trainingTable {
      & td {
        padding: 0.75rem !important;
        font-size: 0.75rem;
      }
    }
    &__trainingTable {
      left: 48%;
      padding-top: 15vh;
    }
  }
}
