.calculatorBMI {
  position: relative;
  margin: 3vh;
  &__header {
    padding-bottom: 50px;
    font-size: 2.4em;
  }
  &__form {
    width: 30%;
    &__inputGroup {
      margin-bottom: 1vh;
    }
    &__label {
      padding-bottom: 10px;
      font-size: 1.4em;
    }
    &__button {
      margin: 10px 0 30px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.5em;
    }
  }
  &__popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bmiResult {
  font-size: 1.4em;
  font-weight: 600;
}
