.calculatorBMI {
  margin: 3vh;
  &__header {
    padding-bottom: 50px;
    font-size: 2.4em;
  }
  &__form {
    width: 30%;
    &__label {
      padding-bottom: 10px;
      font-size: 1.4em;
    }
    &__button {
      margin: 10px 0 30px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.5em;
    }
  }
}
