.calculatorBMI {
  max-height: 100vh;
  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 25vh 15vh;
    margin: 3vh 3vw;
  }
  &::before {
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../../img/cards/plan-treningowy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &__header {
    padding-bottom: 50px;
    font-size: 2.4em;
  }
  &__form {
    width: 50%;
    &__inputGroup {
      margin-bottom: 1vh;
    }
    &__label {
      padding-bottom: 10px;
      font-size: 1.4em;
    }
    &__button {
      margin: 10px 0 30px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.5em;
    }
  }
  &__table {
    margin-top: 2vh;
  }
  &__popUp {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bmiResult {
  font-size: 1.4em;
  font-weight: 600;
}

.jumbotron-bmi {
  margin: 2vh 5vw !important;
  width: 50vw !important;
  grid-area: 1 / 1 / 4 / 2;
}

.bmi {
  grid-area: 1 / 2 / 3 / 3;
}
.calculatorBMI__button {
  grid-area: 3 / 2 / 4 / 3;
}

.resultDescription {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .calculatorBMI {
    &__wrap {
      display: flex;
      flex-direction: column;
    }
    &__form {
      width: 55%;
    }
  }
  .jumbotron-bmi {
    width: 85vw !important;
  }

  .resultDescription {
    position: relative;
    top: 10vh;
  }
}

@media (max-width: 414px) {
  .calculatorBMI {
    &__form {
      width: 75%;
    }
  }

  .resultDescription {
    top: 15vh;
  }
}

@media (max-width: 375px) {
  .calculatorBMI {
    &__form {
      width: 90%;
    }
    &__button {
      & button {
        padding: 1rem 1.2rem !important;
        font-size: 0.9rem !important;
      }
    }
  }

  .resultDescription {
    top: 16vh;
    font-size: 1.3rem;
  }
}
