.circuits__form__dimensions {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: 600;
}

.circuits__form {
  position: relative;
  left: 20%;
  width: 60%;
}

.bold {
  font-weight: 600;
}
