.workoutPlan__newPlanForm {
  margin: 0vh 25vw;
  & label {
    font-weight: 500;
  }
}

#name {
  width: 49vw;
}

@media (max-width: 1024px) {
  .workoutPlan__newPlanForm {
    margin: 0vh 8vw;
  }
  #name {
    width: 35vw;
  }
}
