.calculatorCalories {
  position: relative;
  font-weight: 500;
  &__header-main {
    text-align: center;
    margin-bottom: 5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }
  &__header-secondary {
    text-align: left;
    margin: 5vh 0 2vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }
  &__description {
    line-height: 180%;
    margin-bottom: 3vh;
    font-weight: 500;
  }
  &__prop {
    font-weight: 500;
  }
  &__formName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    &__label {
      height: 5vh;
      font-weight: 600;
      color: #111;
    }
    &__button {
      margin: 0;
    }
  }
  &__newMeal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5vh;
    &__text {
      padding-right: 10px;
    }
  }
  &__meals {
    padding-top: 3vh;
  }
}

@media (max-width: 1024px) {
  .calculatorCalories {
    &__header-main {
      font-size: 1.8em;
      margin-bottom: 3vh;
    }
    &__formName {
      width: 70%;
    }
  }
}

@media (max-width: 414px) {
  .calculatorCalories {
    &__header-main {
      font-size: 1.6em;
    }
    &__header-secondary {
      font-size: 1.4em;
    }
    &__description {
      font-size: 0.8em;
    }
    &__prop {
      font-size: 0.8em;
    }
    &__formName {
      width: 80%;
      &__label {
        font-size: 0.9em !important;
      }
    }
  }
}

@media (max-width: 320px) {
  .calculatorCalories {
    &__header-main {
      font-size: 1.4em;
    }
    &__header-secondary {
      font-size: 1.3em;
    }
    &__description {
      font-size: 0.65em;
    }
    &__prop {
      font-size: 0.7em;
    }
    &__formName {
      width: 80%;
      &__label {
        font-size: 0.9em !important;
      }
    }
  }
}
