@media (max-width: 768px) {
  .login-jumbotron {
    top: 30vh;
  }
}

@media (max-width: 414px) {
  .login-jumbotron {
    top: 25vh;
  }
}

@media (max-width: 320px) {
  .login-jumbotron {
    top: 21vh;
  }
}
