.menuDesktop {
  min-height: 6vh;
  &__link {
    position: relative;
    top: 10%;
    color: aliceblue;
    transition: 0.2s;
    &:hover {
      color: #111;
    }
  }
}

.linkMyStyle {
  color: white;
  &-black {
    color: black !important;
  }
}

@media (max-width: 1024px) {
  .menuDesktop {
    display: none;
  }
}
