.redRow {
  font-weight: 500;
  color: red;
  :hover {
    color: red;
  }
}

.orangeRow {
  font-weight: 500;
  color: orange;
  :hover {
    color: orange;
  }
}

.greenRow {
  font-weight: 500;
  color: green;
  :hover {
    color: green;
  }
}

.active {
  background-color: royalblue;
}

.calculatorBMI__table {
  max-width: 1000px;
  position: relative;
  &::after {
    content: "";
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    z-index: -1;
  }
}
